*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana,  sans-serif;
   }

   header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: #414A4f;
   }

   .logo{
    cursor: pointer;
    color: white;
    font-weight: 400;
    font-size: 19px;
    order: 3;
   }

.navlink{
    list-style: none;
    display: flex;
   }

.navlink li a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
   }

.navlink li{
    padding: 0 20px;
}   

.navlink li a:hover{
    color: #41dfff;
}
   body{
   background-image: linear-gradient(to left top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
   /* background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
   background-size: 400% 400%;
   animation: animatebg 2s ease infinite;
   }
 
   @keyframes animatebg {
     0%{background-position: 0;}
     50%{background-position: 50;}
     100%{background-position: 100;}
   }